.hello {
    margin-top: 30px;
    /* margin-bottom: -20px; */
  }
  
  .about-photo {
    border-radius: 20px;
  }
  
  .about-text {
    max-width: 450px;
    margin-left: 20px;
  }

  .hello1{
    border-radius: 28px;
    border: 25px solid white;
  }
  .hello11{
   color:rgb(21, 8, 8)
  }
  .content{
    height: 90vh;
  }
 

  